* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(51, 51, 51);
}

.card {
    width: 18em;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-flow: column;
    background: url(22222.jpg) center no-repeat;
    background-size: cover;
    box-shadow: 1em 1em 3em black;
    border-radius: 2em;
    padding: .5em;
}

.top-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    width: 100%;
}

.top-icons i {
    font-size: 2em;
    color: rgb(12, 7, 0);
}

.top-icons i:nth-child(1) {
    font-size: 2em;
    color: rgb(12, 7, 0);
    width: 32px;
    height: 32px;
    border-radius: 1em;
    background: silver;
    padding: 1px;
}

nav {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column;
    background: rgb(0, 0, 0, .8);
    transition: transform .5s ease-in;
    transform: translate(5%);
    border-left: 2px solid black;
    opacity: 0;
}

a {
    margin: 0 0 .3em 1em;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: capitalize;
    color: silver;
}

.spread {
    transform: translate(0);
    opacity: 1;
}

.bottom-icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row;
    color: rgb(12, 7, 0);
}

.bottom-icons i {
    font-size: 1em;
    margin: 0 .5em;
}